@using KestenApp.Models.Varieties;
@model VarietyListModel;
@{
    ViewData["Title"] = "Varieties";
}

<div class="row">
    <div class="col">
        <h2 class="text-start">@ViewBag.Title</h2>
    </div>
    <div class="col text-end">
        <a class="btn btn-outline-success"
           asp-area="" asp-controller="Variety" asp-action="Form">Add Variety</a>
    </div>
</div>

<div class="row">
    <small>@Model.Varieties.Count() varieties found</small>
    <table class="table table-striped table-bordered table-sm" cellspacing="2" width="100%">
        <thead>
            <tr>
                @foreach (string title in Model.HeaderTitles)
                {
                    <th class="th-sm align-top text-center">
                        @title
                    </th>
                }
            <tr>
        </thead>
        <tbody>
            @foreach (VarietyListDetailsModel variety in Model.Varieties)
            {
                <partial name="_VarietySummary"
                     model="variety" />
            }
        </tbody>
    </table>
</div>