@model VarietyListViewModel
@{
    ViewData["Title"] = "Varieties";
}

<h4>@Model.Varieties.Count() varieties found</h4>

<table class="table table-striped table-bordered table-sm" cellspacing="2" width="100%">
    <thead>
        <tr>
            @foreach (string title in Model.HeaderTitles)
            {
                <th class="th-sm">
                    @title
                </th>
            }
        <tr>
    </thead>
    <tbody>
        @foreach (VarietyListDetailsViewModel variety in Model.Varieties)
        {
            <partial name="_VarietySummary"
                 model="variety" />
        }
    </tbody>
</table>