@using KestenTestApp.Models.Data;
@model KestenTestApp.Models.View.VarietyListViewModel
@{
    ViewData["Title"] = Model.Title;
}

<h4>@Model.Varieties.Count() varieties found</h4>

<table class="table table-striped table-bordered table-sm" cellspacing="2" width="100%">
    <thead>
        <tr>
            @foreach (string title in Model.HeaderTitles)
            {
                <th class="th-sm">
                    @title
                </th>
            }
        <tr>
    </thead>
    <tbody>
        @foreach (Variety variety in Model.Varieties)
        {
            <partial name="_VarietySummary"
                 model="new Tuple<Variety, string>(variety, Model.Separator)" />
        }
    </tbody>
</table>