@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <partial name="_StatusMessage" for="StatusMessage" />

        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" aria-required="true" />
                <label asp-for="Username" class="form-label"></label>
                <small>
                    <span asp-validation-for="Username" class="text-danger" />
                </small>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" aria-required="true" />
                <label asp-for="Email" class="form-label"></label>
                <small>
                    <span asp-validation-for="Email" class="text-danger" />
                </small>
            </div>

            @if (!string.IsNullOrEmpty(Model.Roles))
            {
                <div class="form-floating mb-3">
                    <input asp-for="Roles" class="form-control" disabled />
                    <label asp-for="Roles" class="form-label"></label>
                </div>            
            }
            
            <div class="form-floating mb-3">
                <input asp-for="DisplayName" class="form-control" aria-required="true" />
                <label asp-for="DisplayName" class="form-label"></label>
                <small>
                    <span asp-validation-for="DisplayName" class="text-danger" />
                </small>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-outline-success">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
