@model UsersListModel
@{
    ViewData["Title"] = "Users";
}

@*Header*@
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-10 col-xl-11">
        <h2 class="text-start">@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <hr class="m-0" />
    <table class="table table-hover table-sm" cellspacing="2" width="100%">
        <thead>
            <tr class="table-light">
                <th class="th-sm align-top text-center">
                    Name
                </th>
                <th class="th-sm align-top text-center">
                    Display Name
                </th>
                <th class="th-sm align-top text-center">
                    Email
                </th>
            <tr>
        </thead>
        <tbody>
            @foreach (UserSummaryModel user in Model.Users)
            {
                <partial name="_UserSummary"
                     model="user" />
            }
        </tbody>
    </table>
</div>