@using static KestenApp.Common.GeneralApplicationConstants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kesten</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KestenTestApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 col-offset-2">
            <div class="container">

                <a class="navbar-left mx-4" asp-area="" asp-controller="Variety" asp-action="List">
                    <img height="50" src="~/Images/kesten.png" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                <a class="nav-link @(Context.Request.Path == "/" || Context.Request.Path.ToString().StartsWith("/Variety") ? "active":"")" asp-area="" asp-controller="Variety" asp-action="List">Varieties</a>
                            }
                        </li>

                        <li class="nav-item">
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                <a class="nav-link" asp-area="" asp-controller="Specimen" asp-action="List">Specimens</a>
                            }
                        </li>

                        <li class="nav-item">
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                <a class="nav-link" asp-area="" asp-controller="Garden" asp-action="List">Gardens</a>
                            }
                        </li>

                        <li class="nav-item">
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                <a class="nav-link" asp-area="" asp-controller="Gardener" asp-action="List">Gardeners</a>
                            }
                        </li>

                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted mt-auto text-center">
        <div class="container">
            &copy; Kesten @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
